@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --menu-height: 140px; /* altura da barra fixa */
}

*{
    margin: 0;
    padding:0;
    list-style: none; 
    text-decoration: none; /*retira as bolinhas do menu e o sublinhado*/
    font-family: "Raleway";
}

html, body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

iframe {
    width: 100%;
    height: 200px; /* ou ajuste proporcional */
}

html {
    scroll-padding-top: var(--menu-height);
}

a{
    display: inline-block; /* Faz o link ter só o tamanho do conteúdo */
    align-self: flex-start;
}

footer {
    display: flex;
    flex-direction: column; /* empilha hr e texto */
    align-items: center;    /* centraliza horizontalmente */
    font-weight: 400;
    gap: 30px;              /* espaço entre hr e texto */
    padding: 30px 0;
}

footer hr {
    width: 50%; /* largura da linha */
    border: 1px solid #ccc; /* cor da linha */
    margin: 0; /* remove margens padrões */
}

.menu{
    background-color: #7a836e;
    width: 100%;
    height: var(--menu-height);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* opcional: garante que fique acima de outros elementos */
    display: flex;           /* ativa o flexbox */
    align-items: center;     /* alinha verticalmente logo e links */
    font-weight: 500;
}

.menu img{
    position: absolute;
    left: 200px; /* fixa o logo à esquerda */
    top: 50%;                /* meio do contêiner */
    transform: translateY(-50%); /* centraliza verticalmente */
    width: 200px;
    cursor: pointer; /*sinaliza que tem uma ação (aparece a "mãozinha)*/
}

.menu ul {
    display: flex; /*menu horizontal*/
    gap: 40px;          /* espaço entre os links */
    position: absolute;   /* tira do fluxo do flex */
    left: 50%;            /* joga o canto esquerdo no meio */
    transform: translateX(-50%); /* corrige pra ficar centralizado de verdade */
    font-size: 18px;
}   

.menu ul li a {
    color: rgba(255, 255, 255, 0.616);
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease; /* duração de 0.3 segundos */
    display: inline-block;
}

.menu ul li a:hover,
.menu-links li a.active {
    color: #ffffff;
    transform: scale(1.07);
    font-weight: 700;
}

.titulo{
    color: black;
    font-size: 30px;
    font-weight: 600;
}

.section {
    padding: 20px 200px 0;
}

.sobre{
    padding-top: calc(var(--menu-height) + 20px);
}

.contato h1{
    color: rgb(53, 94, 69);
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}

.contato button{
    background-color: rgb(53, 94, 69);
    color: white;
    border-radius: 50px;
    width: 300px;
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
    display: flex;                /* ativa o flexbox */
    align-items: center;          /* alinha verticalmente */
    justify-content: center;      /* centraliza horizontalmente */
    gap: 10px;                    /* espaço entre o texto e o ícone */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.contato svg{
    width: 40px;
}

.contato button:hover {
    background-color: rgb(45, 80, 60);
}

.contato button:hover .whatsapp-icon {
    animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.shake-bottom {
	-webkit-animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2025-10-7 23:21:20
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-bottom
 * ----------------------------------------
 */
@-webkit-keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}
@keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}

.cards-map{
    display: flex;
    flex-wrap: wrap; /* permite quebrar linha */
    gap: 10px;
    justify-content: center; /* centraliza os cards */
}

.card-map {
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    flex: 1 1 300px;
    min-width: 380px;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;          /* espaço entre elementos dentro do card */
}

.card-map iframe{
    width: 100%;
    border: none;
    border-radius: 12px;
    height: 400px;
}

.tel{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline;
    font-weight: 500;
}

.card-map a{
    color: black;
    transition: color 0.3s ease;
    display: flex;
}

.card-map a:hover{
    color: rgb(53, 94, 69);
}

/* Regras responsivas (media queries) */
@media (max-width: 1000px) {
    .section {
        padding: 40px 50px 0;
    }
    .menu {
        display: none; /* esconde o menu */
    }
}

@media (max-width: 768px) {
    .section {
        padding: 40px 50px 0;
    }
    .menu {
        display: none; /* esconde o menu */
    }
}

@media (max-width: 480px) {
    .section {
        padding: 30px 20px 0;
    }
    .menu {
        display: none; /* esconde o menu */
    }
}